@font-face {
    font-family: Barlow;
    src: url('./public/fonts/Barlow-Medium.ttf');
}

body{
    background: #f5f5f5;
    margin: 0;
    font-family: 'Barlow';

}

.container{
    background-image: url('./public/images/mainsite/background.jpg');
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    overflow: auto;
}

.home__left{
    width: 80%;
    height: 100%;
    float: left;
    padding-left: 10px;
    padding-top: 10px;
    box-sizing: border-box;
}

.home__left .row-header{
    height: 41px;
    position: relative;
}

.home__left .wrap-logo{
    height: 100%;
    width: 200px;
}

.home__left .wrap-logo .logo{
    width: 100%;
    height: 100%;
    background: url(./public/images/mainsite/mainsite_list_box.png) -100px -52px;
    -webkit-background-size: 115%;
    background-size: 115%;
    background-repeat: no-repeat;
}

.home__left .wrap-action{
    width: 100%;
    height: 80px;
    justify-items: flex-end;
    display: flex;
    align-items: end;
    position: relative;
}

.home__left .wrap-action .stock{
    background: url(./public/images/mainsite/button.png) -123px -16px;
    height: 60px;
    width: 60px;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: 368px;
    margin-right: 15px;
    z-index: 2;
    position: absolute;
    right: 20.9%;
}

.home__left .wrap-action .gift{
    background: url(./public/images/mainsite/button.png) -182px -16px;
    height: 60px;
    width: 60px;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: 368px;
    margin-right: 15px;
    z-index: 2;
    position: absolute;
    right: 9.5%;
}

.home__left .wrap-action .history{
    background: url(./public/images/mainsite/button.png) -241px -16px;
    height: 60px;
    width: 60px;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: 368px;
    margin-right: 15px;
    z-index: 2;
    position: absolute;
    right: -2%;
}

.home__left .wrap-action .arrow{
    background: url(./public/images/mainsite/button.png) -123px 4px;
    height: 20px;
    width: 242px;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: 365px;
    margin-right: 15px;
    z-index: 1;
    position: absolute;
    top: 47%;
    right: -1.8%;
}

.home__left .box{
    background: url(./public/images/mainsite/ruong.png);
    background-position: 62% 61%;
    height: 41%;
    width: 50%;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: 49%;
    z-index: 11;
    text-align: end;
    align-items: end;
    background-attachment: fixed;
    position: fixed;
}

.home__left .btn-left{
    background: url(./public/images/mainsite/button.png) 2px 2px;
    width: 122px;
    height: 40px;
    background-size: 293%;
    background-repeat: no-repeat;
    z-index: 4;
    margin: 0 11px 0 5px;
    display: inline-block;
}

.home__left .btn-right{
    background: url(./public/images/mainsite/button.png);
    background-position: 0% 50%;
    width: 122px;
    height: 40px;
    background-size: 293%;
    background-repeat: no-repeat;
    z-index: 4;
    display: inline-block;
    margin: 0 5px 0 11px;
}

.home__left .btn-bottom{
    background: url(./public/images/mainsite/button.png);
    background-position: -0.5% 101%;
    width: 122px;
    height: 40px;
    background-size: 293%;
    background-repeat: no-repeat;
    z-index: 10;
    margin: 0 5px 0 11px;
}

.home__left .row-wrap-btn-bottom{
    width: 134px;
    z-index: 10;
    margin: 0 auto;
}

.row-map{
    background: url(./public/images/mainsite/map.png);
    background-position: 103% 83%;
    width: 100%;
    height: 100%;
    position: fixed;
    background-size: 85%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.row-box{
    height: 41%;
}

.row-button{
    position: absolute;
    bottom: 4.5%;
    left: 38%;
    z-index: 1;
}

.character{
    background: url(./public/images/mainsite/nhanvat.png);
    background-position: 4% 101%;
    height: 100%;
    width: 37%;
    background-repeat: no-repeat;
    background-size: 28%;
    z-index: 3;
    position: fixed;
    bottom: 0px;
    background-attachment: fixed;
}

.title{
    background: url(./public/images/mainsite/title.png);
    background-position: 10% 50%;
    height: 48%;
    width: 25%;
    background-repeat: no-repeat;
    background-size: 97%;
    z-index: 3;
    position: absolute;
    top: 2px;
    right: 52.5%;
}

.cicle{
    background: url(./public/images/mainsite/MocNhanQua_scrollbar.png);
    background-position: 113.5% 79%;
    height: 18%;
    width: 5%;
    background-repeat: no-repeat;
    background-size: 17.5%;
    z-index: 5;
    display: inline-block;
    background-attachment: fixed;
    position: fixed;
    top: 49%;
    right: 0;
}

.home__right{
    width: 20%;
    height: 100%;
    float: right;
    position: relative;
    z-index: 4;
}

.home__right .right__top{
    height: 17%;
}

.home__right .right__bottom{
    height: 83%;
    position: relative;
    overflow: auto;
}

.home__right .wrap-gift-item{
    width: 74%;
    height: 100%;
    float: left;
}

.home__right .right__bottom .gift__item{
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: end
}

.home__right .right__bottom  .gift__item--disabled-lv5{
    background: url(./public/images/mainsite/MocNhanQua_Item.png);
    background-position: 227.7% 40%;
    height: 15.5%;
    width: 12.8%;
    background-repeat: no-repeat;
    background-size: 64%;
    z-index: 5;
    margin-left: auto;
    background-attachment: fixed;
    position: fixed;
}

.home__right .right__bottom  .gift__item--disabled-lv4{
    background: url(./public/images/mainsite/MocNhanQua_Item.png);
    background-position: 192% 77.5%;
    height: 15.5%;
    width: 12.8%;
    background-repeat: no-repeat;
    background-size: 64%;
    z-index: 5;
    margin-left: auto;
    background-attachment: fixed;
    position: fixed;
}

.home__right .right__bottom .gift__item--active-lv3{
    background: url(./public/images/mainsite/MocNhanQua_Item.png);
    background-position: 156.5% 80%;
    height: 15.5%;
    width: 12.8%;
    background-repeat: no-repeat;
    background-size: 64%;
    z-index: 5;
    margin-left: auto;
    background-attachment: fixed;
    position: fixed;
}

.home__right .right__bottom .gift__item--received-lv2{
    background: url(./public/images/mainsite/MocNhanQua_Item.png);
    background-position: 120.9% 117%;
    height: 15.5%;
    width: 12.8%;
    background-repeat: no-repeat;
    background-size: 64%;
    z-index: 5;
    margin-left: auto;
    position: fixed;
    background-attachment: fixed;
}

.home__right .right__bottom .gift__item--received-lv1{
    background: url(./public/images/mainsite/MocNhanQua_Item.png);
    background-position: 85.5% 155%;
    height: 15.5%;
    width: 12.8%;
    background-repeat: no-repeat;
    background-size: 64%;
    z-index: 5;
    margin-left: auto;
    background-attachment: fixed;
    position: fixed;
}

.home__right .right__bottom .scrollbar{
    width: 26%;
    height: 100%;
    float: right;
    position: absolute;
    right: 6.2px;
}

.home__right .right__bottom .scrollbar .sroll-top{
    height: 40%;
}

.home__right .right__bottom .scrollbar .sroll-top-left{
    background: url(./public/images/mainsite/MocNhanQua_scrollbar.png);
    background-position: 0.5% 0%;
    height: 100%;
    width: 7%;
    background-repeat: no-repeat;
    background-size: 5000%;
    z-index: 5;
    display: inline-block;
}

.home__right .right__bottom .scrollbar .sroll-top-right{
    background: url(./public/images/mainsite/MocNhanQua_scrollbar.png);
    background-position: 0.5% 0%;
    height: 100%;
    width: 7%;
    background-repeat: no-repeat;
    background-size: 5000%;
    z-index: 5;
    display: inline-block;
    margin-left: 35%;
}

.home__right .right__bottom .scrollbar .sroll-bottom{
    height: 58%;
}

.home__right .right__bottom .scrollbar .wrap-scrollbar-text{
    width: 54%;
    height: 100%;
    text-align: center;
    line-height: 11px;
    position: absolute;
    top: 0;
    left: 1%;
}

.home__right .right__bottom .scrollbar .wrap-scrollbar-text .scrollbar-text{
    font-size: 8px;
    color: #e1c9a2;
    line-height: 9px;
    overflow-wrap: break-word;
    text-align: center;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home__right .right__bottom .scrollbar .sroll-bottom-left{
    background: url(./public/images/mainsite/MocNhanQua_scrollbar.png);
    background-position: 2.82% 0%;
    height: 100%;
    width: 7%;
    background-repeat: no-repeat;
    background-size: 5000%;
    z-index: 5;
    display: inline-block;
}

.home__right .right__bottom .scrollbar .sroll-bottom-right{
    background: url(./public/images/mainsite/MocNhanQua_scrollbar.png);
    background-position: 2.82% 0%;
    height: 100%;
    width: 7%;
    background-repeat: no-repeat;
    background-size: 5000%;
    z-index: 5;
    display: inline-block;
    margin-left: 35%;
}


/* ------------------------------------ */
.justify-content-end{
    display: flex;
    justify-content: flex-end; 
}

.align-items-end{
    align-items: flex-end;
}
