@font-face {
    font-family: Barlow;
    src: url('./public/fonts/Barlow-Medium.ttf');
}

@font-face {
    font-family: BarlowItalic;
    src: url('./public/fonts/Barlow-Italic.ttf');
}

@font-face {
    font-family: BarlowBold;
    src: url('./public/fonts/Barlow-Bold.ttf');
}

body{
    background: #f5f5f5;
    margin: 0;
    font-family: 'Barlow';
    --animate-duration: 1s;
    --animate-delay: 1s;
    --animate-repeat: 1;

}

.container{
    position: relative;
    background-image: url('./public/images/mainsite/background.jpg');
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    overflow: auto;
}

.home__left{
    width: 80%;
    height: 100%;
    float: left;
    padding-left: 10px;
    padding-top: 10px;
    box-sizing: border-box;
}

.home__left .row-header{
    height: 41px;
    position: relative;
    overflow: auto;
}

.logo{
    width: 76.8px;
    height: 42.8px;
    background: url(./public/images/mainsite/mainsite_list_box.png);
    background-position: 1% -2%;
    background-size: 123%;
    background-repeat: no-repeat;
    position: absolute;
    top: 2%;
    left: 1%;
}

.wrap-select-languages{
    position: absolute;
    width: 114.38px;
    height: 38%;
    top: 4%;
    left: 95px;
    z-index: 3;
}

.select-languages{
    z-index: 4;
    width: 100%;
    height: 21.83px;
    background: url(./public/images/mainsite/mainsite_list_box.png);
    background-position: 12.5% 26.9%;
    background-size: 96%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    position: absolute;
}

.select-languages .language-text{
    color: #e1c9a2;
    text-align: center;
    font-size: 12px;
    display: flex;
    align-self: center;
    padding-bottom: 1px;
}

#option-languages{
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    width: 112px;
    height: 126px;
    background: url(./public/images/mainsite/mainsite_list_box.png);
    background-position: -40% 109.9%;
    background-size: 99%;
    background-repeat: no-repeat;
    display: block;
    justify-content: center;
    position: absolute;
    top: 23px;
    left: 1px;
    z-index: 5;
    word-break: break-all;
}

#option-languages .wrap-option{
    width: 100%;
    height: 100%;
}

#option-languages .option-item{
    color: #e1c9a2;
    text-align: center;
    font-size: 12px;
    display: flex;
    align-self: center;
    justify-content: center;
    padding-bottom: 1px;
    align-items: center;
    width: 100%;
    height: 30px;
    box-sizing: border-box;
}

.home__left .wrap-action{
    width: 206.2px;
    height: 61px;
    margin-top: 9%;
    justify-items: center;
    display: flex;
    align-items: end;
    justify-content: space-between;
    position: relative;
}

.home__left .wrap-action .action--background {
    background: url(./public/images/mainsite/button.png);
    height: 60px;
    width: 60px;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: 368px;
    z-index: 2;
}

.home__left .wrap-action .stock{
    background-position: -123px -16px;
}

.home__left .wrap-action .gift{
    background-position: -182px -16px;
}

.home__left .wrap-action .history{
    background-position: -241px -16px;
}

.home__left .wrap-action .arrow{
    background: url(./public/images/mainsite/button.png);
    background-position: -123px -1%;
    height: 18px;
    width: 110%;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: 365px;
    margin-right: 15px;
    z-index: 1;
    position: absolute;
    /* top: 34%; */
    top: calc(50% - 18px/2); 
    right: -1.8%;
}

.home__left .box{
    background: url(./public/images/mainsite/ruong.png);
    background-position: 61% 61%;
    height: 41%;
    width: 50%;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: 47%;
    z-index: 3;
    text-align: end;
    align-items: end;
    position: fixed;
    background-attachment: fixed;
}

.home__left .light-box{
    background-position: 62% 61%;
    height: 41%;
    width: 50%;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: 49%;
    z-index: 11;
    text-align: end;
    align-items: end;
    background-attachment: fixed;
    position: fixed;
    z-index: 2;
}

.home__left .light-box .light{
    height: 40%;
    width: 20%; 
    position: fixed;
    visibility: hidden;
    opacity: 0;
}

.home__left .light-box .light__1{
    background: url(./public/images/mainsite/light_ruong1.png);
    background-size: 23%;
    background-position: 33% 56%;
    top: 34%;
    left: 27%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 25%;
}

.home__left .light-box .light__2{
    background: url(./public/images/mainsite/light_ruong2.png);
    background-position: 46% 84%;
    top: 47%;
    left: 39%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 25%;
}

.home__left .light-box .light__3{
    background: url(./public/images/mainsite/light_ruong3.png);
    background-position: 57% 57%;
    top: 31%;
    left: 45%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 25%;
}

.home__left .light-box .light__4{
    background: url(./public/images/mainsite/light_ruong4.png);
    background-position: 70% 84%;
    top: 40%;
    left: 55%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 25%;
}

.home__left .light-box .light__5{
    background: url(./public/images/mainsite/light_ruong5.png);
    background-position: 83% 64%;
    top: 34%;
    left: 64%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 25%;
}

.home__left .btn-left{
    background: url(./public/images/mainsite/button.png) 2px 2px;
    width: 122px;
    height: 40px;
    background-size: 293%;
    background-repeat: no-repeat;
    z-index: 4;
    margin: 0 11px 0 5px;
    display: inline-block;
}

.home__left .btn-right{
    background: url(./public/images/mainsite/button.png);
    background-position: 0% 45%;
    width: 122px;
    height: 40px;
    background-size: 293%;
    background-repeat: no-repeat;
    z-index: 4;
    display: inline-block;
    margin: 0 5px 0 11px;
}

.home__left .btn-bottom{
    background: url(./public/images/mainsite/button.png);
    background-position: -0.5% 101%;
    width: 134px;
    height: 43px;
    background-size: 244%;
    background-repeat: no-repeat;
    z-index: 10;
}

.home__left .row-wrap-btn-bottom{
    width: 134px;
    z-index: 10;
    margin: 0 auto;
}

.row-map{
    background: url(./public/images/mainsite/map.png);
    background-position: 103% 83%;
    width: 100%;
    height: 100%;
    position: fixed;
    background-size: 85%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.row-box{
    height: 41%;
}

.row-button{
    position: absolute;
    bottom: 3.5%;
    left: 38%;
    z-index: 3;
}

.character{
    background: url(./public/images/mainsite/nhanvat.png);
    background-position: 4% 101%;
    height: 100%;
    width: 37%;
    background-repeat: no-repeat;
    background-size: 28%;
    z-index: 3;
    position: fixed;
    bottom: 0px;
    background-attachment: fixed;
}

.title{
    background: url(./public/images/mainsite/title.png);
    background-position: 10% 50%;
    height: 48%;
    width: 25%;
    background-repeat: no-repeat;
    background-size: 97%;
    z-index: 3;
    position: absolute;
    top: 2px;
    right: 52.5%;
}

.cicle{
    background: url(./public/images/mainsite/MocNhanQua_scrollbar.png);
    background-position: 20.5% 21%;
    height: 23%;
    width: 40px;
    background-repeat: no-repeat;
    background-size: 190%;
    z-index: 5;
    display: inline-block;
    position: absolute;
    top: calc(50% - 23%/2);
    right: 0;
}

.home__right{
    width: 20%;
    height: 100%;
    position: fixed;
    z-index: 4;
    right: 0;
}

.home__right .right__top{
    height: 17%;
    position: relative;
}

.home__right .right__top .mount__opened{
    display: flex;
    align-items: center;
    position: fixed;
    top: 2%;
    right: 3%;
}

.home__right .right__top .mount__available{
    display: flex;
    align-items: center;
    position: fixed;
    top: 10%;
    right: 3%;
}

.home__right .right__top .mount__text{
    color: #e1c9a2;
    font-size: 10px;
    display: inline-block;
    margin-right: 3px;
}

.home__right .right__top .mount__opened .mount__count{
    background: url(./public/images/mainsite/MocNhanQua_scrollbar.png);
    background-position: 102% -3%;
    height: 26px;
    width: 58px;
    background-repeat: no-repeat;
    background-size: 110%;
    z-index: 3;
    display: inline-block;
    text-align: center;
    color: #e1c9a2;
    font-size: 12px;
    line-height: 28px;
}

.home__right .right__top .mount__available .mount__count{
    background: url(./public/images/mainsite/MocNhanQua_scrollbar.png);
    background-position: 102% -3%;
    height: 26px;
    width: 58px;
    background-repeat: no-repeat;
    background-size: 110%;
    z-index: 3;
    display: inline-block;
    text-align: center;
    color: #e1c9a2;
    font-size: 12px;
    line-height: 28px;
}

.home__right .right__bottom{
    height: 83%;
    position: relative;
    overflow: auto;
}

.home__right .wrap-gift-item{
    width: 74%;
    height: 100%;
    float: left;
    box-sizing: border-box;
}

.home__right .right__bottom .gift__item{
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: end
}

.home__right .right__bottom .gift__item--background{
    background: url(./public/images/mainsite/MocNhanQua_Item.png);
    background-repeat: no-repeat;
    background-size: 493%;
    z-index: 5;
    height: 54px;
    width: 95.5px;
    margin-left: auto;
}

.home__right .right__bottom  .gift__item-lv5--active{
    background-position: 0% 88.5%;
}
.home__right .right__bottom  .gift__item-lv5--disabled{
    background-position: 0% -1.5%;
}
.home__right .right__bottom  .gift__item-lv5--received{
    background-position: 0% 38.5%;
}

.home__right .right__bottom  .gift__item-lv4--active{
    background-position: 25% 89%;
}
.home__right .right__bottom  .gift__item-lv4--disabled{
    background-position: 25% -1%;
}
.home__right .right__bottom  .gift__item-lv4--received{
    background-position: 25% 38%;
}
.home__right .right__bottom .gift__item-lv3--active{
    background-position: 50.2% 89%;
}
.home__right .right__bottom .gift__item-lv3--disabled{
    background-position: 50.2% -1%;
}
.home__right .right__bottom .gift__item-lv3--received{
    background-position: 50.2% 38%;
}

.home__right .right__bottom .gift__item-lv2--received{
    background-position: 74.99% 38%;
}
.home__right .right__bottom .gift__item-lv2--active{
    background-position: 74.99% 89%;
}
.home__right .right__bottom .gift__item-lv2--disabled{
    background-position: 74.99% -1%;
}

.home__right .right__bottom .gift__item-lv1--received{
    background-position: 100.2% 38.5%;
}
.home__right .right__bottom .gift__item-lv1--active{
    background-position: 100.2% 88.5%;
}
.home__right .right__bottom .gift__item-lv1--disabled{
    background-position: 100.2% -1%;
}

.home__right .right__bottom .scrollbar{
    width: 26%;
    height: 99%;
    float: right;
    position: relative;
    right: 6.2px;
}

.home__right .right__bottom .scrollbar .wrap__scroll{
    width: 7%;
    height: 100%;
    display: inline-block;
}

.home__right .right__bottom .scrollbar .wrap__scroll--padding-left{
    margin-left: 20px;
}

.home__right .right__bottom .scrollbar .scroll-empty{
    width: 100%;
    background-color: rgba(124,124,124,0.4);
    opacity: 0.24;
    box-shadow: inset 0 0 1px rgba(246,246,246,0.8);
}

.home__right .right__bottom .scrollbar .scroll-active{
    width: 100%;
    background-color: rgb(49,19,16);
	background-image: -webkit-linear-gradient(90deg,
    rgba(49,19,16,1) 0%,
    rgba(198,151,94,1) 100%,						  
    rgba(0,212,255,1) 100%,
    transparent);
    box-shadow: inset 0 0 1px rgba(246,246,246,0.8);
}

.home__right .right__bottom .scrollbar .scroll-active-1{
    height: 20%;
}

.home__right .right__bottom .scrollbar .scroll-empty-1{
    height: 80%;
}

.home__right .right__bottom .scrollbar .scroll-active-2{
    height: 40%;
}

.home__right .right__bottom .scrollbar .scroll-empty-2{
    height: 60%;
}

.home__right .right__bottom .scrollbar .scroll-active-3{
    height: 60%;
}

.home__right .right__bottom .scrollbar .scroll-empty-3{
    height: 40%;
}

.home__right .right__bottom .scrollbar .scroll-active-4{
    height: 80%;
}

.home__right .right__bottom .scrollbar .scroll-empty-4{
    height: 20%;
}

.home__right .right__bottom .scrollbar .scroll-active-5{
    height: 100%;
}

.home__right .right__bottom .scrollbar .scroll-empty-5{
    height: 0%;
}



.home__right .right__bottom .scrollbar .wrap-scrollbar-text{
    width: 27.5px;
    height: 100%;
    text-align: center;
    line-height: 11px;
    position: absolute;
    top: 0;
    left: 1%;
}

.home__right .right__bottom .scrollbar .wrap-scrollbar-text .scrollbar-text{
    position: relative;
    font-size: 8px;
    color: #e1c9a2;
    line-height: 9px;
    overflow-wrap: break-word;
    text-align: center;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home__right .right__bottom .scrollbar .wrap-scrollbar-text .line{
    background: url(./public/images/mainsite/MocNhanQua_scrollbar.png);
    background-position: 13.82% 11.5%;
    height: 2px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 320%;
    z-index: 5;
    display: inline-block;
    position: absolute;
    top: 0;
}

.home__right .right__bottom .scrollbar .scroll-bottom-left{
    background: url(./public/images/mainsite/MocNhanQua_scrollbar.png);
    background-position: 4.82% 0%;
    height: 100%;
    width: 7%;
    background-repeat: no-repeat;
    background-size: 2200%;
    z-index: 5;
    display: inline-block;
}

.home__right .right__bottom .scrollbar .scroll-bottom-right{
    background: url(./public/images/mainsite/MocNhanQua_scrollbar.png);
    background-position: 4.82% 0%;
    height: 100%;
    width: 7%;
    background-repeat: no-repeat;
    background-size: 2200%;
    z-index: 5;
    display: inline-block;
    margin-left: 35%;
}

/* -----------------pop up------------------- */

.popup{
    opacity: 0;
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 0;
    pointer-events: none;
    transition: all .2s;
}

.popup .popup__background{
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100vh;
    transition: opacity 1s;
}

.popup__gift .popup__content {
    width: 422px;
    height: 246px;
    background: url(./public/images/popup/Frame_nhanqua.png);
    z-index: 1;
    background-size: 100%;
    background-repeat: no-repeat;
    position: relative;
}

#popup__out-of-cp .popup__content{
    width: 300px;
    height: 131px;
    background: url(./public/images/popup/Frame_notice.png);
    z-index: 1;
    background-size: 100%;
    background-repeat: no-repeat;
    position: relative;
    display: table;
}

#popup__out-of-cp .popup__content .popup__content--center{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: #e1c9a2;
}

#popup__out-of-cp .popup__content .popup__content--center .text{
    font-size: 12px;
}

#popup__out-of-cp .popup__content .popup__content--center .small-text{
    font-style: italic;
    font-size: 10px;
    padding-top: 5px;
}

#popup__out-of-cp .popup__close{
    background: url(./public/images/popup/Popup_btn.png);
    background-position: -43% -36%;
    background-size: 1650%;
    width: 26px;
    height: 26px;
    position: absolute;
    top: -13px;
    right: -13px;
}

#popup__confirm-buy-cp .popup__content{
    width: 300px;
    height: 131px;
    background: url(./public/images/popup/Frame_notice.png);
    z-index: 1;
    background-size: 100%;
    background-repeat: no-repeat;
    position: relative;
    display: table;
}


#popup__confirm-buy-cp .popup__content .popup__content--center .text{
    font-size: 14px;
}

#popup__confirm-buy-cp .popup__content .popup__content--center .btn-agree{
    width: 101px;
    height: 28px;
    background: url(./public/images/popup/Popup_btn.png);
    background-size: 500%;
    background-position: -9px -199px;
    background-repeat: no-repeat;
    display: table;
    margin: 20px auto 0px auto;
}

#popup__confirm-buy-cp .popup__content .popup__content--center{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: #e1c9a2;
}

#popup__confirm-buy-cp .popup__close{
    background: url(./public/images/popup/Popup_btn.png);
    background-position: -43% -36%;
    background-size: 1650%;
    width: 26px;
    height: 26px;
    position: absolute;
    top: -13px;
    right: -13px;
}

#popup__gift-1 .popup__content .wrap__gift-item{
    width: 90px;
    min-height: 120px;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#popup__gift-1 .popup__content .wrap__gift-item .gift__item-image{
    width: 100%;
    height: 90px;
}

#popup__gift-1 .popup__content .wrap__gift-item .gift__item-name{
    font-size: 9px;
    color: #e1c9a2;
    text-align: center;
    margin-top: 10px;
}

#popup__gift-5 .popup__content .wrap__gift-text{
    width: 100%;
    font-size: 8px;
    text-align: center;
    margin-top: 5px;
    color: #e1c9a2;
}

#popup__gift-5 .popup__content .wrap__gift-item{
    width: 200px;
    min-height: 120px;
    position: absolute;
    top: 59%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#popup__gift-5 .popup__content .wrap__gift-item .gift__item-image{
    width: 50px;
    min-height: 50px;
    display: inline-block;
    margin: 4px;
}

.gift__item-image-1{
    background: url(./public/images/popup/Popup_khoqua.png);
    background-repeat: no-repeat;
    background-position: 1% 0%;
    background-size: 709%;
    width: 50px;
    height: 50px;
}

.gift__item-image-2{
    background: url(./public/images/popup/Popup_khoqua.png);
    background-repeat: no-repeat;
    background-position: 25% 0%;
    background-size: 709%;
    width: 50px;
    height: 50px;
}

.gift__item-image-3{
    background: url(./public/images/popup/Popup_khoqua.png);
    background-repeat: no-repeat;
    background-position: 50% 0%;
    background-size: 709%;
    width: 50px;
    height: 50px;
}

.gift__item-image-4{
    background: url(./public/images/popup/Popup_khoqua.png);
    background-repeat: no-repeat;
    background-position: 74% 0%;
    background-size: 709%;
    width: 50px;
    height: 50px;
}

.gift__item-image-5{
    background: url(./public/images/popup/Popup_khoqua.png);
    background-repeat: no-repeat;
    background-position: 98% 0%;
    background-size: 709%;
    width: 50px;
    height: 50px;
}
.gift__item-image-6{
    background: url(./public/images/popup/Popup_khoqua.png);
    background-repeat: no-repeat;
    background-position: 1% 31%;
    background-size: 709%;
    width: 50px;
    height: 50px;
}

.gift__item-image-7{
    background: url(./public/images/popup/Popup_khoqua.png);
    background-repeat: no-repeat;
    background-position: 25% 31%;
    background-size: 709%;
    width: 50px;
    height: 50px;
}

.gift__item-image-8{
    background: url(./public/images/popup/Popup_khoqua.png);
    background-repeat: no-repeat;
    background-position: 50% 31%;
    background-size: 709%;
    width: 50px;
    height: 50px;
}

.gift__item-image-9{
    background: url(./public/images/popup/Popup_khoqua.png);
    background-repeat: no-repeat;
    background-position: 74% 31%;
    background-size: 709%;
    width: 50px;
    height: 50px;
}

.gift__item-image-10{
    background: url(./public/images/popup/Popup_khoqua.png);
    background-repeat: no-repeat;
    background-position: 98% 31%;
    background-size: 709%;
    width: 50px;
    height: 50px;
}

.gift__item-image-11{
    background: url(./public/images/popup/Popup_khoqua.png);
    background-repeat: no-repeat;
    background-position: 1% 60%;
    background-size: 709%;
    width: 50px;
    height: 50px;
}

.gift__item-image-12{
    background: url(./public/images/popup/Popup_khoqua.png);
    background-repeat: no-repeat;
    background-position: 25% 60%;
    background-size: 709%;
    width: 50px;
    height: 50px;
}

.gift__item-image-13{
    background: url(./public/images/popup/Popup_khoqua.png);
    background-repeat: no-repeat;
    background-position: 50% 60%;
    background-size: 709%;
    width: 50px;
    height: 50px;
}

.gift__item-image-14{
    background: url(./public/images/popup/Popup_khoqua.png);
    background-repeat: no-repeat;
    background-position: 74% 60%;
    background-size: 709%;
    width: 50px;
    height: 50px;
}

.gift__item-image-15{
    background: url(./public/images/popup/Popup_khoqua.png);
    background-repeat: no-repeat;
    background-position: 98% 60%;
    background-size: 709%;
    width: 50px;
    height: 50px;
}

.gift__item-image-16{
    background: url(./public/images/popup/Popup_khoqua.png);
    background-repeat: no-repeat;
    background-position: 1% 91%;
    background-size: 709%;
    width: 50px;
    height: 50px;
}

.gift__item-image-17{
    background: url(./public/images/popup/Popup_khoqua.png);
    background-repeat: no-repeat;
    background-position: 25% 91%;
    background-size: 709%;
    width: 50px;
    height: 50px;
}

.gift__item-image-18{
    background: url(./public/images/popup/Popup_khoqua.png);
    background-repeat: no-repeat;
    background-position: 50% 91%;
    background-size: 709%;
    width: 50px;
    height: 50px;
}

.gift__item-image-19{
    background: url(./public/images/popup/Popup_khoqua.png);
    background-repeat: no-repeat;
    background-position: 74% 91%;
    background-size: 709%;
    width: 50px;
    height: 50px;
}

.gift__item-image-20{
    background: url(./public/images/popup/Popup_khoqua.png);
    background-repeat: no-repeat;
    background-position: 98% 91%;
    background-size: 709%;
    width: 50px;
    height: 50px;
}


.popup__gift .popup__close{
    background: url(./public/images/popup/Popup_btn.png);
    background-position: 63.5% -146.8%;
    background-size: 1700%;
    width: 30px;
    height: 30px;
    position: absolute;
    top: -13px;
    right: -13px;
}

.popup__gift-info .popup__content{
    width: 470px;
    height: 306px;
    background: url(./public/images/popup/Frame_3Popup-LS-DQ-KQ.png);
    z-index: 1;
    background-size: 100%;
    background-repeat: no-repeat;
    position: relative;
}

.popup__gift-info .popup__content .popup__title{
    width: 100%;
    height: 30%;
    text-align: center;
    margin: 15px 0 5px 0px;
    box-sizing: border-box;
}

.popup__gift-info .popup__content .popup__title .name{
    height: 46%;
    width: 26%;
    z-index: 5;
    display: block;
    margin: 0 auto;
}

.popup__gift-info .popup__content .popup__title .line{
    height: 16%;
    width: 36%;
    z-index: 5;
    display: block;
    margin: 0 auto;
}

.popup__gift-info .popup__close{
    background: url(./public/images/popup/Popup_btn.png);
    background-position: 63.5% -146.8%;
    background-size: 1700%;
    width: 30px;
    height: 30px;
    position: absolute;
    top: -13px;
    right: -13px;
}

.popup__gift-check .popup__content .popup__title .name{
    background: url(./public/images/popup/Popup_title.png);
    background-position: 2% 54.5%;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 42%;
    width: 20%;
}

.popup__gift-check .popup__content .popup__title .sub-name{
    color: #e1c9a2;
    z-index: 5;
    display: block;
    margin: 0 auto;
    text-align: center;
    margin-top: 4px;
}

.popup__gift-check .popup__content .popup__title .line{
    background: url(./public/images/popup/Popup_btn.png);
    background-position: 47% 80%;
    background-repeat: no-repeat;
    background-size: 450%;
    height: 19%;
}

.popup__gift-check .popup__content .popup__title{
    height: 25.5%;
}

#popup__gift-stock .popup__content .wrap__gift-item{
    width: 75%;
    height: 60%;
    margin: 0 auto;
    overflow: auto;
}

#popup__gift-stock .popup__content .wrap__gift-item .rule{
    width: 100%;
    min-height: 40px;
    line-height: 14px;
}

#popup__gift-stock .popup__content .wrap__gift-item .rule .line{
    background: url(./public/images/popup/Popup_btn.png);
    background-position: 47% 80%;
    background-repeat: no-repeat;
    background-size: 450%;
    height: 14.81px;
    width: 169px;
    margin: 0 auto;
}

#popup__gift-stock .popup__content .wrap__gift-item .rule .rule__title{
    font-size: 13px;
    color: #e1c9a2;
    text-align: center;
    margin-top: 10px;
    font-family: 'Barlow';
}

#popup__gift-stock .popup__content .wrap__gift-item .rule .rule__text{
    color: #e1c9a2;   
    font-size: 9px;
}

#popup__gift-stock .popup__content .wrap__gift-item::-webkit-scrollbar
{
	width: 4px;
	background-color: rgba(124,124,124,0.4);
    opacity: 0.24;
    box-shadow: inset 0 0 1px rgba(246,246,246,0.8);
}

#popup__gift-stock .popup__content .wrap__gift-item::-webkit-scrollbar-thumb
{
	background-color: rgb(49,19,16);
	background-image: -webkit-linear-gradient(90deg,
    rgba(49,19,16,1) 0%,
    rgba(198,151,94,1) 100%,						  
    rgba(0,212,255,1) 100%,
    transparent);
    box-shadow: inset 0 0 1px rgba(246,246,246,0.8);
}

#popup__gift-stock .popup__content .wrap__gift-item .gift-item{
    width: 57px;
    height: 83px;
    display: inline-flex;
    margin: 0 4px;
    background: url(./public/images/popup/Popup_khoqua.png);
    background-size: 578%;
    background-repeat: no-repeat;
    box-sizing: border-box;
}

#popup__gift-stock .popup__content .wrap__gift-item .gift-item-1{
    background-position: -1% 0%;
}

#popup__gift-stock .popup__content .wrap__gift-item .gift-item-2{
    background-position: 24% 0%;
}

#popup__gift-stock .popup__content .wrap__gift-item .gift-item-3{
    background-position: 50% 0%;
}

#popup__gift-stock .popup__content .wrap__gift-item .gift-item-4{
    background-position: 75% 0%;
}

#popup__gift-stock .popup__content .wrap__gift-item .gift-item-5{
    background-position: 100% 0%;
}

#popup__gift-stock .popup__content .wrap__gift-item .gift-item-6{
    background-position: -1% 35%;
}

#popup__gift-stock .popup__content .wrap__gift-item .gift-item-7{
    background-position: 24% 35%;
}

#popup__gift-stock .popup__content .wrap__gift-item .gift-item-8{
    background-position: 50% 35%;
}

#popup__gift-stock .popup__content .wrap__gift-item .gift-item-9{
    background-position: 75% 35%;
}

#popup__gift-stock .popup__content .wrap__gift-item .gift-item-10{
    background-position: 100% 35%;
}

#popup__gift-stock .popup__content .wrap__gift-item .gift-item-11{
    background-position: -1% 69%;
}

#popup__gift-stock .popup__content .wrap__gift-item .gift-item-12{
    background-position: 24% 69%;
}

#popup__gift-stock .popup__content .wrap__gift-item .gift-item-13{
    background-position: 50% 69%;
}

#popup__gift-stock .popup__content .wrap__gift-item .gift-item-14{
    background-position: 75% 69%;
}

#popup__gift-stock .popup__content .wrap__gift-item .gift-item-15{
    background-position: 100% 69%;
}

#popup__gift-stock .popup__content .wrap__gift-item .gift-item-16{
    background-position: -1% 105%;
}

#popup__gift-stock .popup__content .wrap__gift-item .gift-item-17{
    background-position: 24% 105%;
}

#popup__gift-stock .popup__content .wrap__gift-item .gift-item-18{
    background-position: 50% 105%;
}

#popup__gift-stock .popup__content .wrap__gift-item .gift-item-19{
    background-position: 75% 105%;
}

#popup__gift-stock .popup__content .wrap__gift-item .gift-item-20{
    background-position: 100% 105%;
}


.popup__gift-exchange .popup__content .popup__title{
    width: 100%;
    height: 20%;
    text-align: center;
    margin: 10px 0 5px 0px;
    box-sizing: border-box;
    position: relative;
}

.popup__gift-exchange .popup__content .popup__title .name{
    background: url(./public/images/popup/Popup_title.png);
    background-position: 0% -1%;
    background-repeat: no-repeat;
    background-size: 103%;
    height: 81%;
}

.popup__gift-exchange .popup__content .popup__title .line{
    background: url(./public/images/popup/Popup_btn.png);
    background-position: 47% 80%;
    background-repeat: no-repeat;
    background-size: 417%;
    height: 26%;
}

.popup__gift-exchange .popup__content .popup__title .wrap__cp{
    position: absolute;
    bottom: 0;
    left: 13px;
    height: 23px;
    overflow: auto;
}

.popup__gift-exchange .popup__content .popup__title .wrap__cp .flag{
    background: url(./public/images/popup/Popup_btn.png);
    background-position: 43% 74.5%;
    background-repeat: no-repeat;
    background-size: 2000%;
    width: 23px;
    height: 100%;
    float: left;
}

.popup__gift-exchange .popup__content .popup__title .wrap__cp .cp{
    background: url(./public/images/popup/Popup_btn.png);
    background-position: 52% 74%;
    background-repeat: no-repeat;
    background-size: 795%;
    width: 62px;
    height: 100%;
    float: right;
    color: #e1c9a2;
    font-size: 12px;
    line-height: 22px;
    text-indent: -10px;
}

.popup__gift-exchange .popup__content .wrap__card{
    display: flex;
    height: 67%;
    width: 100%;
    box-sizing: border-box;
    padding: 9px 10px;
}

.popup__gift-exchange .popup__content .wrap__card .card{
    width: calc(100%/5);
    margin: 0 3px;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: end;
    position: relative;
}

.popup__gift-exchange .popup__content .wrap__card .card .card__active{
    position: absolute;
    top: -4px;
    left: -5px;
    width: 100%;
    height: 100%;
    background: url(./public/images/popup/Popup_btn.png);
    background-position: 107.6% 0.8%;
    background-repeat: no-repeat;
    background-size: 600%;
    z-index: 2;
}

.popup__gift-exchange .popup__content .wrap__card .card .card__content{
    /* margin-bottom: 10px;
    z-index: 3; */
    z-index: 3;
    position: absolute;
    bottom: 10px;
}

.popup__gift-exchange .popup__content .wrap__card .card .card__content .card__text-top{
    text-align: center;
    margin-left: -27px;
    color: #d0d0d0;
    font-size: 6px;
    font-family: 'BarlowBold';

}

.popup__gift-exchange .popup__content .wrap__card .card .card__content .card__text-bottom{
    font-size: 6px;
    text-align: center;
    color: #707070;
}

.popup__gift-exchange .popup__content .wrap__card .card .card__content .card__btn{
    width: 65px;
    height: 19px;
    margin: 7px auto 16px auto;
    background: url(./public/images/popup/Popup_btn.png);
    background-repeat: no-repeat;
    background-size: 850%;
}

.popup__gift-exchange .popup__content .wrap__card .card1 .card__content .card__btn--disabled{
    background-position: 15.6% 81.8%;
}

.popup__gift-exchange .popup__content .wrap__card .card1 .card__content .card__btn--active{
    background-position: 2.3% 81.8%;
}

.popup__gift-exchange .popup__content .wrap__card .card2 .card__content .card__btn--disabled{
    background-position: 15.6% 81.8%;
}

.popup__gift-exchange .popup__content .wrap__card .card2 .card__content .card__btn--active{
    background-position: 2.3% 81.8%;
}

.popup__gift-exchange .popup__content .wrap__card .card3 .card__content .card__btn--disabled{
    background-position: 15.6% 81.8%;
}

.popup__gift-exchange .popup__content .wrap__card .card3 .card__content .card__btn--active{
    background: url(./public/images/popup/Popup_btn.png);
    background-position: 2.3% 81.8%;
    background-repeat: no-repeat;
    background-size: 850%;
}

.popup__gift-exchange .popup__content .wrap__card .card4 .card__content .card__btn--disabled{
    background: url(./public/images/popup/Popup_btn.png);
    background-position: 15.6% 81.8%;
    background-repeat: no-repeat;
    background-size: 850%;
}

.popup__gift-exchange .popup__content .wrap__card .card4 .card__content .card__btn--active{
    background-position: 2.3% 81.8%;
}

.popup__gift-exchange .popup__content .wrap__card .card5 .card__content .card__btn--disabled{
    background-position: 15.6% 81.8%;
}

.popup__gift-exchange .popup__content .wrap__card .card5 .card__content .card__btn--active{
    background-position: 2.3% 81.8%;
}

.popup__gift-exchange .popup__content{
    width: 481px;
    height: 313px;
    background: url(./public/images/popup/Frame_3Popup-LS-DQ-KQ.png);
    z-index: 1;
    background-size: 100%;
    background-repeat: no-repeat;
    position: relative;
}

.popup__gift-exchange .popup__content .wrap__card .card1{
    background: url(./public/images/popup/Popup_btn.png);
    background-position: 3% 1%;
    background-repeat: no-repeat;
    background-size: 600%;
}
.popup__gift-exchange .popup__content .wrap__card .card2{
    background: url(./public/images/popup/Popup_btn.png);
    background-position: 24% 1%;
    background-repeat: no-repeat;
    background-size: 600%;
}
.popup__gift-exchange .popup__content .wrap__card .card3{
    background: url(./public/images/popup/Popup_btn.png);
    background-position: 45% 1%;
    background-repeat: no-repeat;
    background-size: 600%;
}
.popup__gift-exchange .popup__content .wrap__card .card4{
    background: url(./public/images/popup/Popup_btn.png);
    background-position: 66.5% 1%;
    background-repeat: no-repeat;
    background-size: 600%;
}
.popup__gift-exchange .popup__content .wrap__card .card5{
    background: url(./public/images/popup/Popup_btn.png);
    background-position: 88% 1%;
    background-repeat: no-repeat;
    background-size: 600%;
}
.popup__gift-history .popup__content .popup__title{
    height: 19%;
}

.popup__gift-history .popup__content .popup__title .name{
    background: url(./public/images/popup/Popup_title.png);
    background-position: 0% 99%;
    background-repeat: no-repeat;
    background-size: 103%;
    height: 73%;
    width: 26%;
}

.popup__gift-history .popup__content .popup__title .line{
    background: url(./public/images/popup/Popup_btn.png);
    background-position: 47% 80%;
    background-repeat: no-repeat;
    background-size: 450%;
    height: 26%;
    width: 36%;
}

.popup__gift-history .popup__content .content__bottom{
    color: #e1c9a2;
    font-size: 9px;
    width: 90%;
    margin: 0 auto;
}

.popup__gift-history .popup__content .content__bottom .table__scroll{
    overflow: auto;
    height: 160px;
}

.popup__gift-history .popup__content .content__bottom .table__scroll::-webkit-scrollbar
{
	width: 3px;
	background-color: rgba(124,124,124,0.4);
    opacity: 0.24;
    box-shadow: inset 0 0 1px rgba(246,246,246,0.8);
}

.popup__gift-history .popup__content .content__bottom .table__scroll::-webkit-scrollbar-thumb
{
	background-color: rgb(49,19,16);
	background-image: -webkit-linear-gradient(90deg,
    rgba(49,19,16,1) 0%,
    rgba(198,151,94,1) 100%,						  
    rgba(0,212,255,1) 100%,
    transparent);
    box-shadow: inset 0 0 1px rgba(246,246,246,0.8);
}

.popup__gift-history .popup__content .content__bottom .table__history{
    width: 100%;
}

.popup__gift-history .popup__content .content__bottom .table__history tr{
    height: 20px;
}

.popup__gift-history .popup__content .content__bottom .table__history .column-1{
    width: 55px;
    text-align: center;
}

.popup__gift-history .popup__content .content__bottom .table__history .column-2{
    width: 126px;
    text-align: start;
}

.popup__gift-history .popup__content .content__bottom .table__history .column-3{
    width: 110px;
    text-align: start;
}

.popup__gift-history .popup__content .content__bottom .table__history .column-4{
    text-align: start;
}


#popup__receive-turn .popup__content{
    width: 278.52px;
    height: 195px;
    background: url(./public/images/popup/Frame_popup-NhanLMoKB.png);
    z-index: 1;
    background-size: 100%;
    background-repeat: no-repeat;
    position: relative;
}

#popup__receive-turn .popup__content .popup__content--padding{
    width: 100%;
    height: 100%;
    padding: 7% 0%;
    box-sizing: border-box;
}

#popup__receive-turn .popup__content .content__top{
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#popup__receive-turn .popup__content .content__bottom{
    height: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#popup__receive-turn .popup__content .content__button{
    height: 50%;
}

#popup__receive-turn .popup__content .text{
    font-family: 'BarlowItalic';
    color: #e1c9a2;
    font-style: italic;
    display: block;
    font-size: 9px;
    text-align: center;
    margin-top: 5px;
}

#popup__receive-turn .popup__content .content__top .btn-receive{
    background: url(./public/images/popup/Popup_btn.png);
    background-position: 41.5% -19%;
    background-size: 335%;
    width: 135px;
    height: 43px;
}

#popup__receive-turn .popup__content .content__bottom .btn-buy{
    background: url(./public/images/popup/Popup_btn.png);
    background-position: -1% -19.5%;
    background-size: 335%;
    width: 135px;
    height: 43px;
}



#popup__receive-turn .popup__close{
    background: url(./public/images/popup/Popup_btn.png);
    background-position: -43% -36%;
    background-size: 1650%;
    width: 26px;
    height: 26px;
    position: absolute;
    top: -13px;
    right: -13px;
}

#popup__receive-turn-free .popup__content{
    width: 312.27px;
    height: 195px;
    background: url(./public/images/popup/Frame_popup-NhanLMoMP.png);
    z-index: 1;
    background-size: 100%;
    background-repeat: no-repeat;
    position: relative;
}

#popup__receive-turn-free .popup__content .content__top{
    max-height: 50%;
    text-align: center;
    padding: 15px 10px 10px 10px;
    color: #e1c9a2;
}

#popup__receive-turn-free .popup__content .content__top .title__receive-turn-free{
    font-size: 15px;
}

#popup__receive-turn-free .popup__content .content__top .text{
    font-size: 11px;
    font-family: 'BarlowItalic';
    padding-top: 4px;
    padding-bottom: 10px;
}

#popup__receive-turn-free .popup__content .content__top .btn-receive{
    background: url(./public/images/popup/Popup_btn.png);
    background-position: 86.3% 79%;
    background-repeat: no-repeat;
    background-size: 414%;
    width: 112px;
    height: 37px;
    margin: 0 auto;
}

#popup__receive-turn-free .popup__content .content__bottom{
    font-size: 9px;
    color: #e1c9a2;
    padding: 0px 10px;
    max-height: 33%;
    height: 33%;
    box-sizing: border-box;
}

#popup__receive-turn-free .popup__content .content__bottom .table__receive-turn-free{
    width: 100%;
}

#popup__receive-turn-free .popup__content .content__bottom .table__receive-turn-free .column-1{
    width: 38px;
}

#popup__receive-turn-free .popup__content .content__bottom .table__receive-turn-free .column-2{
    width: 117px;
}

#popup__receive-turn-free .popup__content .content__bottom .table__receive-turn-free .column-3{
    width: 40px;
}

#popup__receive-turn-free .popup__content .content__bottom .table__receive-turn-free .column-4{
    width: 83px;
}


#popup__receive-turn-free .popup__content .content__bottom .table__receive-turn-free tr{
    text-align: center;
}

#popup__receive-turn-free .popup__content .content__bottom .table__scroll{
    overflow: auto;
    height: 49px;
}

#popup__receive-turn-free .popup__content .content__bottom .table__scroll::-webkit-scrollbar
{
	width: 3px;
	background-color: rgba(124,124,124,0.4);
    opacity: 0.24;
    box-shadow: inset 0 0 1px rgba(246,246,246,0.8);
}

#popup__receive-turn-free .popup__content .content__bottom .table__scroll::-webkit-scrollbar-thumb
{
	background-color: rgb(49,19,16);
	background-image: -webkit-linear-gradient(90deg,
    rgba(49,19,16,1) 0%,
    rgba(198,151,94,1) 100%,						  
    rgba(0,212,255,1) 100%,
    transparent);
    box-shadow: inset 0 0 1px rgba(246,246,246,0.8);
}

#popup__receive-turn-free .popup__close{
    background: url(./public/images/popup/Popup_btn.png);
    background-position: -43% -36%;
    background-size: 1650%;
    width: 26px;
    height: 26px;
    position: absolute;
    top: -13px;
    right: -13px;
}

#pm__condition-form{
    margin-top: 10px;
    display: none;
}

#pm__condition-form.active-captcha{
    display: block;
}

#pm__condition-form .captcha .captcha-img {
    display: table-cell;
}   

#pm__condition-form .captcha .captcha-img #captcha-image{
    width: 85px;
    vertical-align: middle;
}

#pm__condition-form .captcha{
    display: inline-block;
    vertical-align: top; 
}

#pm__condition-form .captcha__input{
    display: inline-block;
    vertical-align: top; 
}

#pm__condition-form .captcha__input-text{
    display: inline-block;
    width: 100px;
}

#pm__condition-form input[type=text] {
    width: 100px;
    height: 29px;
    padding: 5px;
    box-sizing: border-box;
    font-size: 10px;
    background:rgba(0, 0, 0, 0.4);
    border: 1px solid rgba(0, 0, 0, 0.6);
    color: #e1c9a2;
}

#pm__condition-form input[type=text]:focus-visible {
    outline: none !important;
}

#pm__condition-form input[type=text]::placeholder{
    color: #e1c9a2;
}

#popup__buy-turn .popup__content{
    width: 461px;
    height: 278px;
    background: url(./public/images/popup/Frame_popup-NhanLMoMP.png);
    z-index: 1;
    background-size: 100%;
    background-repeat: no-repeat;
    position: relative;
}

#popup__buy-turn .popup__close{
    background: url(./public/images/popup/Popup_btn.png);
    background-position: -43% -36%;
    background-size: 1650%;
    width: 26px;
    height: 26px;
    position: absolute;
    top: -13px;
    right: -13px;
}

#popup__buy-turn .popup__content .content__top{
    max-height: 55%;
    text-align: center;
    padding: 15px 10px 10px 10px;
    color: #e1c9a2;
}

#popup__buy-turn .popup__content .content__top .title__receive-turn-free{
    font-size: 15px;
}

#popup__buy-turn .popup__content .content__top .text{
    font-size: 11px;
    font-family: 'BarlowItalic';
    padding-top: 4px;
    padding-bottom: 6px;
}

#popup__buy-turn .popup__content .content__top .counter::before{
    content: 'Số lượt cần mua: ';
    font-size: 11px;
    margin-right: 6px;
    line-height: 23px;
}

#popup__buy-turn .popup__content .content__top .counter{
    display: inline-flex;
}

#popup__buy-turn .popup__content .content__top .counter .increase{
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url(./public/images/popup/Popup_btn.png);
    background-position: 60.4% 88.5%;
    background-repeat: no-repeat;
    background-size: 2600%;
    margin-left: 3px;
}

#popup__buy-turn .popup__content .content__top .counter .decrease{
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url(./public/images/popup/Popup_btn.png);
    background-position: 63.4% 88.5%;
    background-repeat: no-repeat;
    background-size: 2600%;
    margin-right: 3px;
}

#popup__buy-turn .popup__content .content__top .counter .number{
    font-size: 14px;
    font-family: 'Barlow';
    display: inline-block;
    width: 60px;
    height: 23px;
    box-sizing: border-box;
    line-height: 17px;
    padding: 0 8px;
    border: 0.7px solid;
    border-image-slice: 0.5;
    border-width: 0.7px;
    border-image-source: linear-gradient(7deg, rgba(49,19,16,1) 0%, rgba(198,151,94,1) 100%);
}

#popup__buy-turn input[type=text] {
    width: 100px;
    height: 29px;
    padding: 5px;
    box-sizing: border-box;
    font-size: 10px;
    background:rgba(0, 0, 0, 0.4);
    border: 1px solid rgba(0, 0, 0, 0.6);
    color: #e1c9a2;
}

#popup__buy-turn input[type=text]:focus-visible {
    outline: none !important;
}

#popup__buy-turn input[type=text]::placeholder{
    color: #e1c9a2;
    opacity: 0.5;
}

#popup__buy-turn .popup__content .content__top .btn-buy{
    background: url(./public/images/popup/Popup_btn.png);
    background-position: 86.3% 95%;
    background-repeat: no-repeat;
    background-size: 414%;
    width: 112px;
    height: 37px;
    margin: 10px auto 0 auto;
}

#popup__buy-turn .popup__content .content__bottom{
    font-size: 9px;
    color: #e1c9a2;
    padding: 0px 45px;
    max-height: 33%;
    height: 33%;
    box-sizing: border-box;
}

#popup__buy-turn .popup__content .content__bottom .table__receive-turn-free{
    width: 100%;
}

#popup__buy-turn .popup__content .content__bottom .table__receive-turn-free .column-1{
    width: 38px;
}

#popup__buy-turn .popup__content .content__bottom .table__receive-turn-free .column-2{
    width: 117px;
}

#popup__buy-turn .popup__content .content__bottom .table__receive-turn-free .column-3{
    width: 111px;
}

#popup__buy-turn .popup__content .content__bottom .table__receive-turn-free .column-4{
    width: 83px;
}


#popup__buy-turn .popup__content .content__bottom .table__receive-turn-free tr{
    text-align: center;
    height: 17px;
}

#popup__buy-turn .popup__content .content__bottom .table__scroll{
    overflow: auto;
    height: 68px;
}

#popup__buy-turn .popup__content .content__bottom .table__scroll::-webkit-scrollbar
{
	width: 3px;
	background-color: rgba(124,124,124,0.4);
    opacity: 0.24;
    box-shadow: inset 0 0 1px rgba(246,246,246,0.8);
}

#popup__buy-turn .popup__content .content__bottom .table__scroll::-webkit-scrollbar-thumb
{
	background-color: rgb(49,19,16);
	background-image: -webkit-linear-gradient(90deg,
    rgba(49,19,16,1) 0%,
    rgba(198,151,94,1) 100%,						  
    rgba(0,212,255,1) 100%,
    transparent);
    box-shadow: inset 0 0 1px rgba(246,246,246,0.8);
}

/* ------------------COMMON------------------ */
.justify-content-end{
    display: flex;
    justify-content: flex-end; 
}

.align-items-end{
    align-items: flex-end;
}

.active-pop-up{
    opacity: 1 !important;
    visibility: visible !important;
    z-index: 10 !important;
    pointer-events: all !important;
    transition: all .2s;
}

.home__left .light-box  .active-light{
    visibility: visible !important;
    opacity: 1 !important;
    transition: all .2s !important;
}

.text-start{
    text-align: start;
}

.text-center{
    text-align: center;
}
/* ------------------RESPONSIVE------------------ */

/* ----------- iPhone 4 and 4S ----------- */
/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
    .title{
        top: 6% !important;
        right: 57% !important;
    }

    .character{
        background-size: 31%;
    }

    .row-button{
        left: 32%;
        bottom: 10px;
    }

    .home__left .wrap-action{
        width: 183.2px !important;
        margin-top: 11%;
    }

    .home__left .wrap-action .arrow{
        /* width: 215px; */
        /* top: 34%; */
    }

    .home__left .btn-left{
        background-position:  2px 0px;
        width: 113px;
        height: 36px;
        background-size: 292%;
        margin: 0 0px 0 5px;
    }

    .home__left .btn-right {
        background-position: 0% 45%;
        width: 113px;
        height: 36px;
        background-size: 292%;
        margin: 0 5px 0 0px;
    }
    
    /* .cicle{
        top: 48% !important;
        background-position: 21.5% 25%;
        height: 77.8px;
        width: 35px;
        right: 4px !important;
    } */

    .home__right .right__top .mount__opened, .home__right .right__top .mount__available{
        right: 1%;
    }

    .home__left .light-box{
        background-size: 49%;
        background-position: 62% 61%;
    }

    .home__right .right__bottom .gift__item--background{
        height: 40px;
    }

    .popup__gift-info .popup__content{
        width: 435px;
        height: 283px;
    }

    #popup__buy-turn .popup__content{
        width: 440px;
    }
}

/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */
/* Landscape */
@media only screen 
  and (min-device-width: 481px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
    .title{
        top: 9% !important;
        right: 53% !important;
        background-size: 96% !important;
    }

    .home__left .wrap-action{
        width: 42% !important;
    }

    .home__left .wrap-action .arrow{
        /* width: 200px !important; */
    }

    .row-button{
        left: 30% !important;
        bottom: 6px !important;
    }

    .home__right .right__bottom .gift__item-lv5--disabled {
        background-position: 0% -7.5%;
    }
    
    .home__right .right__bottom  .gift__item-lv4--disabled{
        background-position: 25% -7%;
    }


    .home__right .right__bottom .gift__item-lv2--received {
        background-position: 74.99% 40%;
    }

    .home__right .right__bottom .gift__item-lv3 {
        background-position: 50.2% 91%;
    }

    .home__right .right__bottom .gift__item-lv1--received {
        background-position: 100.2% 40.5%;
    }

    /* .cicle{
        top: 27%;
        right: 2px;
    } */

    
}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */
@media only screen 
  and (min-device-width: 500px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 
    .title{
        top: 6%;
        right: 55%;
    }

    .row-button{
        left: 32%;
        bottom: 10px;
    }

    .home__left .wrap-action{
        width: 37%;
    }

    .home__left .wrap-action .arrow{
        /* width: 215px; */
        /* top: 34%; */
    }
/*     
    .cicle{
        top: 48% !important;
        background-position: 21.5% 25%;
        height: 77.8px;
        width: 35px;
        right: 4px !important;
    } */

    .home__right .right__top .mount__opened, .home__right .right__top .mount__available{
        right: 2%;
    }

    .home__left .light-box{
        background-size: 49%;
        background-position: 62% 61%;
    }
}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */
/* Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 
    .title{
        top: 7%;
        right: 53%;
        background-size: 105%;
    }
    /* .cicle{
        right: 5px;
    } */
    .home__left .wrap-action{
        width: 37%;
    }
    .home__left .wrap-action .arrow{
        /* width: 240px; */
        /* top: 32%; */
    }
    .home__right .right__top .mount__opened, .home__right .right__top .mount__available{
        right: 2%;
    }
    .home__right .right__bottom .gift__item-lv1--received {
        background-position: 100.4% 38.5%;
    }
    .home__right .right__bottom .gift__item-lv2--received {
        background-position: 75.2% 38%;
    }
}

/* ----------- iPhone X ----------- */
/* Landscape */
@media only screen 
  and (min-device-width: 812px) 
  and (max-device-width: 896px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 
    .title{
        top: -1% !important;
        right: 52% !important;
        background-size: 90%;
    }
    /* .cicle{
        top: 48%;
        right: 2px;
    } */
    .home__left .wrap-action .arrow{
        /* top: 35%; */
        /* width: 234px; */
    }
    .home__right .right__top .mount__opened, .home__right .right__top .mount__available{
        right: 2.5%;
    }
}

/* ----------- Galaxy S3 ----------- */
/* Landscape */
@media screen 
  and (min-device-width: 600px) 
  and (max-device-width: 640px) 
  and (-webkit-device-pixel-ratio: 2) 
  and (orientation: landscape) {
    .title{
        top: 8% !important;
        right: 53% !important;
        background-size: 95% !important;
    }
    .home__left .wrap-action .arrow{
        /* top: 34% !important; */
        /* width: 210px !important; */
    }
}

/* ----------- Galaxy S4, S5 and Note 3 ----------- */
/* Landscape */
/* @media screen 
  and (min-device-width: 320px) 
  and (max-device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) 
  and (orientation: landscape) {
    .title{
        top: 7%;
        right: 53%;
        background-size: 90%;
    }
    .home__left .wrap-action .arrow {
    }
    .home__right .right__top .mount__opened, .home__right .right__top .mount__available{
        right: 2%;
    }
} */

/* ----------- Galaxy S6 ----------- */
/* Landscape */
@media screen 
  and (min-device-width: 360px) 
  and (max-device-height: 640px) 
  and (-webkit-device-pixel-ratio: 4) 
  and (orientation: landscape) {
    .title {
        top: 8%;
        right: 53%;
        background-size: 90%;
    }
    .home__left .wrap-action .arrow {
        /* top: 34%; */
        /* width: 213px; */
    }
    /* .cicle{
        top: 49.5% !important;
    } */
    .home__right .right__top .mount__opened, .home__right .right__top .mount__available{
        right: 2%;
    }
}

/* Portrait orientation */
@media screen and (orientation: portrait) {
    #landscape, #tablet-desktop{
        display: none;
    }
    #portrait{
        display: block;
        padding: 5px;
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    }
}
/* Landscape orientation */
@media screen and (orientation: landscape) {
    #landscape{
        display: block;
    }
    #portrait, #tablet-desktop{
        display: none;
    }
}

@media only screen and (min-width: 1024px) {
    #tablet-desktop{
        display: block;
        padding: 5px;
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    }
    #landscape, #portrait{
        display: none;
    }
}

@media only screen and (max-height: 320px) {
    .popup__gift-info .popup__content{
        width: 435px;
        height: 283px;
    }

    #popup__buy-turn .popup__content{
        width: 440px;
    }
}